<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.353003407645-b70sq4l29cn0u3ahcooj6vkhq2lhflnq</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>3.34.130.191</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Thin.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Black.otf</string>
	</array>
</dict>
</plist>
